<section>
    <div class="container">
        <div class="row mobile-up">
            <div class="col-12 col-md-10 offset-md-1 mt-3 content-leonel">
                <div class="row">
                    <div class="col-md-4 no-space">
                        <img class="img-fluid" src="./assets/imgs/webp/img-compra.webp" alt="Compra">
                    </div>
                    <div class="col-md-8 content-leonel-text">

                        <h1>Compra</h1>
                        <h2>Compre o bem dos seus sonhos. Imediato, sem juros e com os melhores preços!</h2>

                        <p>Se deseja comprar um consórcio já contemplado, para que possamos saber qual o plano ideal para você, preencha todas as informações necessárias em nosso primeiro contato. Desta forma, iremos definir um perfil mais exato e objetivo
                            do negócio que você deseja realizar. Vendemos pelo menor preço do mercado. Consulte-nos!</p>

                        <div class="row">
                            <div class="col-md-12 col-12">
                                <form id="form-compra" action="./assets/forms/form-compra.php" method="POST">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label>Nome</label>
                                                <br />
                                                <input id="nome" class="form-control" name="nome" required type="text" placeholder="Nome Completo" />
                                            </div>

                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label>Telefone</label>
                                                <br />
                                                <input id="tel" class="form-control" name="tel" required type="tel" placeholder="Telefone (com DDD)" />
                                            </div>

                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label>Celular</label>
                                                <br />
                                                <input id="cel" class="form-control" name="cel" required type="tel" placeholder="Celular (com DDD)" />
                                            </div>

                                        </div>
                                        <!-- <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label>Skype</label>
                                                <br />
                                                <input id="skype" class="form-control" name="skype" type="text" placeholder="Usuário Skype" />
                                            </div>

                                        </div> -->
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label>e-mail</label>
                                                <br />
                                                <input id="email" class="form-control" name="email" required type="email" placeholder="e-mail" />
                                            </div>

                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label>Tipo</label>
                                                <br />
                                                <select id="tipo" class="form-control" name="tipo">
                                                    <option selected="selected">Escolha</option>
                                                    <option value="Imóvel">Imóvel</option>
                                                    <option value="Automóvel">Automóvel</option>
                                                    <option value="Caminhão">Caminhão</option>
                                                    <option value="Outros">Outros</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label>Valor Crédito</label>
                                                <br />
                                                <input id="valor_credito" class="form-control" name="valor_credito" type="text" placeholder="Valor Pretendido de Crédito" />
                                            </div>

                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label>Valor Entrada</label>
                                                <br />
                                                <input id="valor_entrada" class="form-control" name="valor_entrada" type="text" placeholder="Valor Aproximado de Entrada" />
                                            </div>

                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label>Valor Parcela</label>
                                                <br />
                                                <input id="valor_parcela" class="form-control" name="valor_parcela" type="text" placeholder="Valor Aproximado da Parcela" />
                                            </div>

                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label>Como Conheceu o Nosso Site?</label>
                                                <br />
                                                <select id="como_conheceu" class="form-control" name="como_conheceu">
                                                    <option selected="selected">Escolha</option>
                                                    <option value="Indicação">Indicação</option>
                                                    <option value="Internet">Internet</option>
                                                    <option value="Rádio">Rádio</option>
                                                    <option value="Jornal">Jornal</option>
                                                    <option value="Revista">Revista</option>
                                                    <option value="Outros">Outros</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label>Qual?</label>
                                                <br />
                                                <input id="outros" class="form-control" name="outros" type="text" placeholder="Qual?" />
                                            </div>

                                        </div>
                                        <div class="col-md-12 col-12">
                                            <ng-hcaptcha (verify)="onVerify($event)" (expired)="onExpired($event)" (error)="onError($event)">
                                            </ng-hcaptcha>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <button class="btn btn-primary pull-right" name="submit" type="submit" value="submit">Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>