<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-yellow">
    <div class="container">
        <a class="navbar-brand" href="#!"><img src="./assets/imgs/sun.png" alt="Leonel Consórcios"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#!">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Quem Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Compra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Venda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Cartas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Consórcio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Atendimento</a>
                </li>
            </ul>
            <div class="d-flex d-none d-sm-block">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/leonelconsorcios.com.br/" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/leonel_consorcios/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/leonelconsorcio" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.youtube.com/channel/UCCb3nDLNVmSk2SZK0IXfaUg" target="_blank"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>