<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1 mt-3 d-none d-sm-block">
                <h3 class="text-center mt-3 mb-3">Compre ou Venda com Assessoria, Segurança,<br> Rapidez e os Melhores Preços!</h3>
                <div class="row">
                    <div class="col-md-4 cvp-box">
                        <a href="#!"><img src="./assets/imgs/img-home-compre.jpg" alt="Compre"></a>
                        <h3>Compre</h3>
                        <p>Compre um Consórcio Já<br>Contemplado</p>
                    </div>
                    <div class="col-md-4 cvp-box">
                        <a href="#!"><img src="./assets/imgs/img-home-venda.jpg" alt="Venda"></a>
                        <h3>Venda</h3>
                        <p>Venda o seu Consórcio e<br>transforme em dinheiro agora</p>
                    </div>
                    <div class="col-md-4 cvp-box">
                        <a href="#!"><img src="./assets/imgs/img-home-parceiros.jpg" alt="Parceiros"></a>
                        <h3>Parceiros</h3>
                        <p>Seja nosso parceiro, trabalhe<br>conosco</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-10 offset-md-1 mt-3 d-block d-sm-none">
                <h3 class="text-center mt-3 mb-3">Compre ou Venda com Assessoria, Segurança,<br> Rapidez e os Melhores Preços!</h3>
                <div class="row cvp-box-mob">
                    <div class="col-12 cvp-box-light">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="./assets/imgs/img-home-compre.jpg" alt="Compre">
                            </div>
                            <div class="col-8">
                                <h3>Compre</h3>
                                <p>Compre um Consórcio Já<br>Contemplado</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 cvp-box-dark">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="./assets/imgs/img-home-venda.jpg" alt="Venda">
                            </div>
                            <div class="col-8">
                                <h3>Venda</h3>
                                <p>Venda o seu Consórcio e<br>transforme em dinheiro agora</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 cvp-box-light">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="./assets/imgs/img-home-parceiros.jpg" alt="Parceiros">
                            </div>
                            <div class="col-8">
                                <h3>Parceiros</h3>
                                <p>Seja nosso parceiro, trabalhe<br>conosco</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>