<div class="topo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1 mt-3 d-none d-sm-block">
                <div class="row">
                    <div class="col-md-6 logo">
                        <img src="./assets/imgs/leonelconsorcios.png" alt="Leonel Consórcios">
                    </div>
                    <div class="col-md-6">
                        <div class="top-destaques">
                            <div id="carouselTopDestaques" class="carousel" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <span>{{ idadeleonel }} anos de Tradição,<br>
                                        Credibilidade e Profissionalismo.</span>
                                    </div>
                                    <div class="carousel-item tpdt-middle">
                                        <span>Compra e Venda de Consórcios.</span>
                                    </div>
                                    <div class="carousel-item">
                                        <span>...Contemplados ou Não,<br>
                                            mesmo em Atraso!</span>
                                    </div>
                                    <div class="carousel-item">
                                        <span>Assessoria. Segurança. Rapidez<br>
                                            e os Melhores Preços!</span>
                                    </div>
                                    <div class="carousel-item tpdt-small">
                                        <span><small>Ligue Agora:</small><br>
                                            Tels: (21) 3045-4000 / (21) 2567-7373<br>
                                            Cels.: (21) 97012-3333 / (22) 99821-2831 / (11) 95811-9514</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1 mt-3 zera-mob">
                <div id="carouselDestaques" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./assets/imgs/destaque-01-consorcios-compra-venda.jpg" class="d-block w-100 d-none d-sm-block" alt="Consórcios Compra e Venda">
                            <img src="./assets/imgs/destaque-mobile-1-consorcios-compra-venda.jpg" class="d-block w-100 d-block d-sm-none" alt="Consórcios Compra e Venda">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/imgs/destaque-02-venda-ou-compre-consorcio.jpg" class="d-block w-100 d-none d-sm-block" alt="Venda ou Compre Cosórcio">
                            <img src="./assets/imgs/destaque-mobile-2-venda-ou-compre-consorcio.jpg" class="d-block w-100 d-block d-sm-none" alt="Consórcios Compra e Venda">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/imgs/destaque-03-venda-consorcio-transforme-em-dinheiro-agora.jpg" class="d-block w-100 d-none d-sm-block" alt="Venda seu consórcio">
                            <img src="./assets/imgs/destaque-mobile-3-venda-consorcio-transforme-em-dinheiro-agora.jpg" class="d-block w-100 d-block d-sm-none" alt="Consórcios Compra e Venda">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/imgs/destaque-04-compra-consorcio-contemplado.jpg" class="d-block w-100 d-none d-sm-block" alt="compre consórcio contemplado">
                            <img src="./assets/imgs/destaque-mobile-4-compra-consorcio-contemplado.jpg" class="d-block w-100 d-block d-sm-none" alt="Consórcios Compra e Venda">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDestaques" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselDestaques" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Próximo</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1 mt-3 text-center d-none d-sm-block">
                <img class="img-fluid" src="./assets/imgs/frase-home.png">
            </div>
        </div>
    </div>
</div>