<div class="topo top-mobile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1 mt-3 d-none d-sm-block">
                <div class="row">
                    <div class="col-md-6 logo">
                        <h1><span>Leonel Consórcios</span><img src="./assets/img/leonelconsorcios.avif" alt="Leonel Consórcios"></h1>
                    </div>
                    <div class="col-md-6">
                        <div class="top-destaques">
                            <div id="carouselTopDestaques" class="carousel" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <span>{{ idadeleonel }} anos de Tradição,<br>
                                        Credibilidade e Profissionalismo.</span>
                                    </div>
                                    <div class="carousel-item tpdt-middle">
                                        <span>Compra e Venda de Consórcios.</span>
                                    </div>
                                    <div class="carousel-item">
                                        <span>...Contemplados ou Não,<br>
                                            mesmo em Atraso!</span>
                                    </div>
                                    <div class="carousel-item">
                                        <span>Assessoria. Segurança. Rapidez<br>
                                            e os Melhores Preços!</span>
                                    </div>
                                    <div class="carousel-item tpdt-small">
                                        <span><small>Ligue Agora:</small><br>
                                            Tels: (21) 3045-4000 / (21) 2567-7373<br>
                                            Cels.: (21) 97012-3333 / (22) 99821-2831 / (11) 95811-9514</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>