<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 mt-3 content-leonel">
                <div class="row">

                    <div class="col-md-12 content-leonel-text">

                        <h1>Cartas</h1>
                        <h2>Consulte aqui nossas cartas disponíveis</h2>

                        <p></p>

                        <div class="row d-none d-sm-block">
                            <iframe width="100%" height="600px" src="https://docs.google.com/spreadsheets/d/1AsL348utIO3vZEXb8bs_JfjBz0fnRPgvbjzH2X4gOoY/edit?usp=sharing" frameborder="0"></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row d-block d-sm-none">
            <div class="col-12">
                <a href="https://docs.google.com/spreadsheets/d/1AsL348utIO3vZEXb8bs_JfjBz0fnRPgvbjzH2X4gOoY/edit?usp=sharing" target="_blank">
                    <img class="img-fluid" src="./assets/imgs/img-cartas.jpg" alt="Cartas">
                </a>

            </div>
            <div class="col-12">
                <div class="d-grid gap-2">
                    <a class="btn btn-primary" href="https://docs.google.com/spreadsheets/d/1AsL348utIO3vZEXb8bs_JfjBz0fnRPgvbjzH2X4gOoY/edit?usp=sharing" target="_blank"><i class="far fa-folder-open"></i> Abrir Cartas</a>
                </div>

            </div>

        </div>
    </div>
</section>