<section>
    <div class="container">
        <div class="row mobile-up">
            <div class="col-12 col-md-10 offset-md-1 mt-3 content-leonel">
                <div class="row">
                    <div class="col-md-4 no-space">
                        <img class="img-fluid" src="./assets/imgs/img-quemsomos.jpg" alt="Quem Somos">
                    </div>
                    <div class="col-md-8 content-leonel-text">

                        <h1>Quem Somos</h1>
                        <h2>Há {{ idadeleonel }} anos com Tradição, Credibilidade e Profissionalismo.</h2>

                        <p>Empresa do ramo de consórcios, estabelecida com credibilidade no mercado, idoneidade comprovada e várias referências. Formada por uma equipe altamente especializada e com profundo conhecimento de mercado. Realizamos assessoria
                            e consultoria (comercial e administrativa), em geral para pessoas jurídicas, empresas de consórcio, concessionárias, representações e outros.</p>
                        <p>Trabalhamos com compras, vendas, intermediações, cursos, palestras, além de formação, orientação e acompanhamento de equipe de vendas. Realizamos contratações, cadastros, parcerias, convênios, consultas, mantendo contato BACEN,
                            ABAC e outros órgãos.</p>
                        <p>Buscamos sempre a qualidade no atendimento e a transparência em nossos negócios.</p>

                        <h2>Nossa Missão</h2>
                        <ul>
                            <li>Garantir excelência em todas as etapas de negociação aprimorando-se sempre para garantir um atendimento impecável.</li>
                            <li>Ser referência e segurança para nosso cliente, prestando o melhor serviço.</li>
                            <li>Gerar valor atuando no mercado de consórcio de forma ética e sustentável.</li>
                            <li>Levar felicidade para as pessoas através da realização de seus sonhos.</li>
                        </ul>

                        <h2>Nossa Visão</h2>
                        <ul>
                            <li>Ser referência em atendimento no Brasil com características e propostas únicas.</li>
                            <li>Fazer do nosso cliente um amigo e parceiro de negócio, sendo ele o nosso cartão de visita.</li>
                        </ul>

                        <h2>Nossos Valores</h2>
                        <ul>
                            <li>Ter relacionamento com o cliente gerando confiança mútua.</li>
                            <li>Trabalho em equipe com lideranças interativas.</li>
                            <li>Ter transparência nas negociações comerciais e profissionais.</li>
                            <li>Priorizar o respeito, a ética e a segurança nas negociações e buscar sempre melhorar e superar as expectativas de clientes, parceiros e funcionários.</li>
                            <li>Pessoas proativas que trabalham por prazer.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>