<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1 mt-3">
                <h3 class="text-center mt-3">Destaques</h3>
                <p class="text-center mb-3">Veja onde a Leonel Consórcios já foi destaque na mídia.</p>
                <div class="row">
                    <ul class="nav nav-tabs lc-noticias" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="odia-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><img src="./assets/imgs/logos-noticias/odia.png" alt=""></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="jbfm-tab" data-bs-toggle="tab" data-bs-target="#aba-jb" type="button" role="tab" aria-controls="profile" aria-selected="false"><img src="./assets/imgs/logos-noticias/jbfm.png" alt=""></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="extra-tab" data-bs-toggle="tab" data-bs-target="#aba-extra" type="button" role="tab" aria-controls="contact" aria-selected="false"><img src="./assets/imgs/logos-noticias/extra.png" alt=""></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="meiahora-tab" data-bs-toggle="tab" data-bs-target="#aba-meiahora" type="button" role="tab" aria-controls="contact" aria-selected="false"><img src="./assets/imgs/logos-noticias/meiahora.png" alt=""></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="oglobo-tab" data-bs-toggle="tab" data-bs-target="#aba-oglobo" type="button" role="tab" aria-controls="contact" aria-selected="false"><img src="./assets/imgs/logos-noticias/oglobo.png" alt=""></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="sbt-tab" data-bs-toggle="tab" data-bs-target="#aba-sbt" type="button" role="tab" aria-controls="contact" aria-selected="false"><img src="./assets/imgs/logos-noticias/sbt.png" alt=""></button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="odia-tab">
                            <div class="row space-mob">
                                <div class="col-xs-12 col-md-10 offset-md-1 mt-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="img-fluid" src="./assets/img/destaques-noticias/destaques-noticias-entrev-automania.avif">
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Entrevista Jornal O DIA</h3>
                                            <p>O Planejado não sai caro. O diretor da Leonel Consórcios alerta para os cuidados necessários antes da decisão de comprar de um veículo e como escolher o melhor modelo para cada perfil de usuário.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="aba-jb" role="tabpanel" aria-labelledby="jbfm-tab">
                            <div class="row space-mob">
                                <div class="col-xs-12 col-md-10 offset-md-1 mt-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="img-fluid" src="./assets/img/destaques-noticias/destaques-home-entrevista-jbfm-como-funciona-vantagens-consorcio.avif">
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Entrevista JB FM</h3>
                                            <p>Entrevista de Cristiane Campos com o Diretor da Leonel Consórcios sobre como funciona e quais as vantagens de adquirir um bem por meio de consórcio.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="aba-extra" role="tabpanel" aria-labelledby="extra-tab">
                            <div class="row space-mob">
                                <div class="col-xs-12 col-md-10 offset-md-1 mt-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="img-fluid" src="./assets/img/destaques-noticias/destaques-noticias-entrev-jornalextra.avif">
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Entrevista Jornal Extra</h3>
                                            <p>Ideal para quem deseja fazer uma compra bem planejada, o sistema de consórcio está em pleno vapor.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="aba-meiahora" role="tabpanel" aria-labelledby="meiahora-tab">
                            <div class="row space-mob">
                                <div class="col-xs-12 col-md-10 offset-md-1 mt-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="img-fluid" src="./assets/img/destaques-noticias/destaques-noticias-entrev-jornalmeiahora.avif">
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Entrevista Jornal Meia Hora</h3>
                                            <p>Especialistas falam sobre cuidados necessários antes da aquisição de um veículo.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="aba-oglobo" role="tabpanel" aria-labelledby="oglobo-tab">
                            <div class="row space-mob">
                                <div class="col-xs-12 col-md-10 offset-md-1 mt-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="img-fluid" src="./assets/img/destaques-noticias/destaques-noticias-entrev-oglobo.avif">
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Entrevista Jornal O Globo</h3>
                                            <p>Entrevista do Diretor da Leonel Consórcios: O Consórcio Resiste. Imóvel em um lance.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="aba-sbt" role="tabpanel" aria-labelledby="sbt-tab">
                            <div class="row space-mob">
                                <div class="col-xs-12 col-md-10 offset-md-1 mt-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="img-fluid" src="./assets/img/destaques-noticias/destaques-noticias-entrev-sbt.avif">
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Entrevista SBT</h3>
                                            <p>Você sabia que pode vender ou comprar um consorcio já contemplado?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>