<div class="banner-home-cmp">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1 mt-3 zera-mob">
                <div id="carouselDestaques" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./assets/img/destaque-01-consorcios-compra-venda.avif" class="d-block w-100 d-none d-sm-block" alt="Consórcios Compra e Venda">
                            <img src="./assets/img/destaque-mobile-1-consorcios-compra-venda.avif" class="d-block w-100 d-block d-sm-none" alt="Consórcios Compra e Venda">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/img/destaque-02-venda-ou-compre-consorcio.avif" class="d-block w-100 d-none d-sm-block" alt="Venda ou Compre Cosórcio">
                            <img src="./assets/img/destaque-mobile-2-venda-ou-compre-consorcio.avif" class="d-block w-100 d-block d-sm-none" alt="Consórcios Compra e Venda">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/img/destaque-03-venda-consorcio-transforme-em-dinheiro-agora.avif" class="d-block w-100 d-none d-sm-block" alt="Venda seu consórcio">
                            <img src="./assets/img/destaque-mobile-3-venda-consorcio-transforme-em-dinheiro-agora.avif" class="d-block w-100 d-block d-sm-none" alt="Consórcios Compra e Venda">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/img/destaque-04-compra-consorcio-contemplado.avif" class="d-block w-100 d-none d-sm-block" alt="compre consórcio contemplado">
                            <img src="./assets/img/destaque-mobile-4-compra-consorcio-contemplado.avif" class="d-block w-100 d-block d-sm-none" alt="Consórcios Compra e Venda">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDestaques" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselDestaques" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Próximo</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1 mt-3 text-center d-none d-sm-block">
                <img class="img-fluid" src="./assets/img/frase-home.avif">
            </div>
        </div>
    </div>
</div>