<section>
    <div class="container">
        <div class="row mobile-up">
            <div class="col-12 col-md-10 offset-md-1 mt-3 content-leonel">
                <div class="row">
                    <div class="col-md-4 no-space">
                        <img class="img-fluid" src="./assets/imgs/img-servicos.jpg" alt="Serviços">
                    </div>
                    <div class="col-md-8 content-leonel-text">

                        <h1>Serviços</h1>
                        <h2>Compramos Consórcios!</h2>
                        <p>Cotas de autos, utilitários, imóveis, caminhões... contempladas ou não, em atraso e até canceladas de todos os bancos e administradoras. Pagamos em dinheiro no ato da compra e cobrimos ofertas. Trocamos seu consórcio.<br/> Consulte-nos.
                        </p>

                        <h2>Vendemos cotas já contempladas.</h2>
                        <p>Consórcios contemplados com as melhores condições. Possuímos cotas de autos, utilitários, imóveis, caminhões e para uso de capital de giro.<br/> Oferecemos entradas baixas, sem juros e sem ágio! Vários planos e os melhores preços.
                            Nos informe qual o credito, entrada e a parcela que deseja.</p>

                        <p>*Oferecemos comissão para vendedores, cotistas e vendedores. Cadastramos representantes e representações.</p>

                        <ul style="font-weight: bolder">
                            <li>Ministramos cursos e palestras</li>
                            <li>Formação, orientação e acompanhamento de equipe de vendas</li>
                            <li>Intermediação e assessoria de compra e venda de empresas de consórcios, grupos, carteiras de clientes, patentes autorizadas BACEN, concessionárias...</li>
                            <li>Assessoria à administradoras, concessionárias, pessoa física e empresas em geral: Área comercial/administrativa, área contábil/financeira, de recuperação e de cobrança.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>