<footer>
    <div class="container">
        <footer class="footer-pages">

            <address>
            Av Rio Branco, 156
            Centro, Rio de Janeiro - RJ.
            </address>

            <div class="wz-btn"><a href="https://wa.me/5521970123333" target="_blank"><i class="fab fa-whatsapp"></i></a></div>

            <div class="container text-center logo-footer">
                <img src="./assets/imgs/leonelconsorcios.png">
                <p>© {{ anoatual }}, {{ idadeleonel }} anos de Tradição, Credibilidade e Profissionalismo.</p>
                <a href="mailto:contato@leonelconsorcios.com.br" style="margin: 20px 0">contato@leonelconsorcios.com.br</a>
                <p class="op-imgs" style="margin-top: 10px"><a href="tel:21 3045-4000">21 3045-4000</a> - <a href="tel:21 2567-7373">21 2567-7373</a> /
                    <a href="tel:21 97012-3333"><img src="./assets/imgs/nextel.svg"> <img src="./assets/imgs/whatsapp.svg"> 21 97012-3333</a> -
                    <a href="tel:21 96423-1303"><img src="./assets/imgs/whatsapp.svg"> 21 96423-1303</a><br>
                    <a href="tel:11 95811-9514"><img src="./assets/imgs/tim.svg"> 11 95811-9514</a> /
                    <a href="tel:21 99695-1897"><img src="./assets/imgs/vivo.svg"> <img src="./assets/imgs/whatsapp.svg"> 21 99695-1897</a> - <a href="tel:22 99821-2831">22 99821-2831</a></p>




                <div class="col-md-12 links-rodape">
                    <ul>
                        <li><a href="#!"><i class="far fa-newspaper"></i> Destaques</a></li>
                        <li><a href="#!"><i class="far fa-file-alt"></i> Cartas</a></li>
                        <li><a href="#!"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                    </ul>
                </div>





                <ul class="footer-sociais">
                    <li><a href="https://www.facebook.com/leonelconsorcios.com.br/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/leonelconsorcio" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCCb3nDLNVmSk2SZK0IXfaUg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/leonel_consorcios/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>




        </footer>
    </div>
</footer>