<section>
    <div class="container">
        <div class="row mobile-up">
            <div class="col-12 col-md-10 offset-md-1 mt-3 content-leonel">
                <div class="row">

                    <div class="col-md-12 content-leonel-text">

                        <h1>Sucesso</h1>
                        <h2>Sua mensagem foi enviada com sucesso, em breve entraremos em contato. Obrigado.</h2>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>